body{
    margin:0;
    padding:0;
}
.layout{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: rgb(235, 227, 235);
}

.top{
padding-left: 10px; 
background-color: rgb(59, 58, 58);
color: white;
}

.middle{
padding-left: 10px;
flex-grow:2;
}

.bottom{
    background-color: rgb(59, 58, 58);
    color: white;
    padding-left: 10px;
    
}